<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout/plantilla :: head">
        <title>TechShop</title>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header" />

        <section class="h-100 h-custom" style="background-color: #eee;">
            <div class="container py-5 h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col">
                        <div class="card">
                            <div class="card-body p-4">

                                <div class="row">

                                    <div class="col-lg-8">
                                        <h5 class="mb-3">
                                            <a href="#!" class="text-body" th:href="@{/}"><i
                                                    class="fas fa-long-arrow-alt-left me-2"></i>[[#{carrito.regresar}]]</a></h5>
                                        <hr>

                                        <div class="d-flex justify-content-between align-items-center mb-4">
                                            <div>
                                                <p class="mb-1">[[#{carrito.carrito}]]</p>
                                                <p class="mb-0">[[${cantidadArticulosCarrito}]] [[#{carrito.cantidadArticulos}]]</p>
                                            </div>
                                            <div>                    
                                            </div>
                                        </div>

                                        <div th:each="item : ${carritoDetalles}" class="card mb-3" >
                                            <div class="card-body">
                                                <div class="d-flex justify-content-between">
                                                    <div class="d-flex flex-row align-items-center">
                                                        <div>
                                                            <img th:src="@{${item.articulo.rutaImagen}}" width="600" class="img-fluid rounded-3" alt="Shopping item" />                                                            
                                                        </div>
                                                        <div class="ms-3">
                                                            <h5>[[${item.articulo.descripcion}]]</h5>
                                                            <p class="small mb-0">[[${item.articulo.detalle}]]</p>
                                                        </div>
                                                    </div>
                                                    <div class="d-flex flex-row align-items-center">
                                                        <div style="width: 50px;">
                                                            <h5 class="fw-normal mb-0 text-center btn btn-primary">[[${item.cantidad}]]</h5>
                                                        </div>
                                                        <div style="width: 80px;">
                                                            <h5 class="mb-0">[[${#numbers.formatDecimal(item.precio, 1, 'DEFAULT', 2, 'DEFAULT')}]]</h5>
                                                        </div>
                                                        <a th:href="@{/carrito/eliminar/} + ${item.idDetalle}" style="color: #cecece;"><i class="fas fa-trash-alt"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>  
                                    </div>
                                    <div class="col-lg-4">

                                        <div class="card bg-primary text-white rounded-3">
                                            <div class="card-body">
                                                <div class="d-flex justify-content-between align-items-center mb-4">
                                                    <h5 class="mb-0">[[#{carrito.resumen}]]</h5>
                                                    <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-6.webp"
                                                         class="img-fluid rounded-3" style="width: 45px;" alt="Avatar">
                                                </div>                                      

                                                <hr class="my-4">

                                                <div class="d-flex justify-content-between">
                                                    <p class="mb-2">Subtotal</p>
                                                    <p class="mb-2">[[${#numbers.formatDecimal(montoTotal, 1, 'DEFAULT', 2, 'DEFAULT')}]]</p>
                                                </div>

                                                <div class="d-flex justify-content-between">
                                                    <p class="mb-2">Shipping</p>
                                                    <p class="mb-2">[[${#numbers.formatDecimal(montoImpuestos, 1, 'DEFAULT', 2, 'DEFAULT')}]]</p>
                                                </div>

                                                <div class="d-flex justify-content-between mb-4">
                                                    <p class="mb-2">Total(Incl. taxes)</p>
                                                    <p class="mb-2">[[${#numbers.formatDecimal(montoTotal + montoImpuestos, 1, 'DEFAULT', 2, 'DEFAULT')}]]</p>
                                                </div>

                                                <button type="button" class="btn btn-info btn-block btn-lg">
                                                    <div class="d-flex justify-content-between">
                                                        <span>[[${#numbers.formatDecimal(montoTotal + montoImpuestos, 1, 'DEFAULT', 2, 'DEFAULT')}]]</span> - 
                                                        <span> Checkout <i class="fas fa-long-arrow-alt-right ms-2"></i></span>
                                                    </div>
                                                </button>

                                            </div>
                                        </div>

                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <footer th:replace="layout/plantilla :: footer" />
    </body>
</html>