*{
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    padding: 45px 20px 0px;
}

.header{
    background-color: navy;
    height: 12%;
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
}

.nav {
    display: flex;
    justify-content: space-between;
    max-width: 992px;
    margin: 0 auto;
}

.nav-link{
    color: white;
    text-decoration: none;
}

.logo{
    font-size: 30px;
    font-weight: bold;
    padding: 0 40px;
    line-height: 90px;
}

.nav-menu{
    display: flex;
    margin-right: 40px;
    list-style: none;
}

.nav-menu-item{
    font-size: 18px;
    margin: 0 10px;
    line-height: 90px;
    width: max-content;
}

.nav-menu-link {
    padding: 8px 12px;
    border-radius: 10px;
}

.nav-menu-link:hover {
    background-color:lightskyblue;
    transition: 0.7s;
}
