<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="estilotest.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header" />
        <h2>Lista de clientes</h2>
        <a th:href="@{/nuevoCliente}">Nuevo cliente</a>
        <br/><!-- comment -->
        <br/>
        <div th:if="${clientes != null and !clientes.empty}">
            <table border="1">
                <thead>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Correo</th>
                <th>Telefono</th>
                <th colspan="2">Acciones</th>
                </thead>
                <tbody>
                    <tr th:each="item : ${clientes}">
                        <td th:text="${item.nombre}"></td>
                        <td th:text="${item.apellidos}"></td>
                        <td th:text="${item.correo}"></td>
                        <td th:text="${item.telefono}"></td>
                        <td><a th:href="@{/modificarCliente} + ${item.idCliente}">Modificar</a></td>
                        <td><a th:href="@{/eliminarCliente} + ${item.idCliente}">Eliminar</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div th:if="${clientes == null or clientes.empty}">
            La lista de clientes esta vacia...
        </div>
        <footer th:replace="layout/plantilla :: footer" />
    </body>
</html>
